/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');
// @import url('../static/Inter.var.woff2');

html {
	overflow-x: hidden;
}
body {
	position: relative;
	max-width: 100%;
}

body {
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Inter var', sans-serif;
	font-weight: 250;
	font-size: 1em;
	color: #fffffb;
	background: #11131c;
}
body.lightmode {
	color: #11131c;
	background: #fffffb;
}

a {
	color: #fffffb;
	text-decoration: none;
}
body.lightmode a {
	color: #11131c;
}
body.lightmode a:hover {
	color: #fb7680;
	text-decoration: none;
}

a:hover {
	transition: color 0.3s ease-in-out;
	color: #fb7680;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	transition: filter 0.3s ease-in-out;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

button:hover {
	transition: filter 0.3s ease-in-out;
	filter: brightness(120%);
}

.slot p {
	opacity: 0.85;
	font-size: get-vw(20px);
	font-style: normal;
	font-weight: 400;
	line-height: 1.75;
	letter-spacing: 0em;
	text-align: left;
	a {
		color: #ec5c68;
		text-decoration: none;
	}
	a:hover {
		color: #eb737d;
		text-decoration: none;
	}
	@media screen and (max-width: $bp) {
		font-size: max(get-vw(20px), 16px);
	}
	@media screen and (min-width: 1240px) {
		font-size: min(get-vw(20px), 20px);
	}
}
.slot h2,
.slot img {
	margin: get-vw(30px) 0px 0px 0px;
	@media screen and (max-width: $bp) {
		margin: max(get-vw(30px), 30px) 0px 0px 0px;
	}
	@media screen and (min-width: 1240px) {
		margin: min(get-vw(30px), 30px) 0px 0px 0px;
	}
}
.slot summary {
	margin: get-vw(15px) 0px 0px 0px;
	@media screen and (max-width: $bp) {
		margin: max(get-vw(15px), 15px) 0px 0px 0px;
	}
	@media screen and (min-width: 1240px) {
		margin: min(get-vw(15px), 15px) 0px 0px 0px;
	}
}

table,
th,
td {
	border: 1px solid #fffffb63;
}
table {
	border-collapse: collapse;
}
td,
th {
	padding: 1%;
}
blockquote p {
	font-size: 37px;
	font-style: normal;
	line-height: 1.21;
	letter-spacing: 0em;
	text-align: left;
	strong {
		font-weight: 700;
	}
}
.truncate {
	/**Major Properties**/
	overflow: hidden;
	-webkit-box-orient: vertical;
	display: block;
	display: -webkit-box;
	overflow: hidden !important;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
}
.truncate.header {
	/**Major Properties**/
	overflow: hidden;
	-webkit-box-orient: vertical;
	display: block;
	display: -webkit-box;
	overflow: hidden !important;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
}

/* width */
::-webkit-scrollbar {
	width: 20px;
	margin-right: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #98a19a;
	opacity: 0.1;
	border-radius: 10px 10px 10px 10px;
	border: 6px #11131c solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #fffbfc;
}

#line-animation.anim {
	animation: appear 3s cubic-bezier(0.32, 0, 0.67, 0) 0.3s 1 forwards;
}

@keyframes appear {
	0% {
		max-width: 0;
		opacity: 100%;
	}
	50% {
		max-width: 400px;
		opacity: 100%;
	}
	90% {
		max-width: 400px;
		opacity: 100%;
	}
	100% {
		display: none;
		max-width: 400px;
		opacity: 0%;
	}
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }